<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeVYC9vjUYrfjVhTqdb5J2Y9oqt0wi_Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>790946919423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartersvision.markets.totoV2</string>
	<key>PROJECT_ID</key>
	<string>test-d7288</string>
	<key>STORAGE_BUCKET</key>
	<string>test-d7288.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790946919423:ios:2755d2faffbb3aa12c2dca</string>
</dict>
</plist>